<ion-content [fullscreen]="true" #content >
  <ion-grid>
    <app-navbar
      [collapse]="true"
    ></app-navbar>
     <ion-row class="background-image-reverse mobile" style="height: 100vh;">
      <div style="width: 100vw; height: 400px; border: 1px solid; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
      </div>
    </ion-row>

    <ion-row style="height: auto; margin: 100px 0;">
        <ion-col size="10" offset="1" style="padding: 10px 0; position: relative;">
          <div>
            <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
          </div>   
          <div> 
            
            <div style="width: 100%">
              <p style=" font-size: 50px">
                Offriamo soluzioni <span style="color: #1C8B81;">alternative</span> ed <span style="color: #1C8B81;">ecologiche</span>
              </p>
            </div>
            <div style="width: 100%">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <p style="font-size: 18px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
                Le soluzioni si basano su estratti polimerici capaci di funzionare come agenti legati, addensanti, filmanti ed inclusivi. Questi estratti sono completamente naturali, biodegradabili ed addirittura edibili.

              </p>
            </div>
          </div>
      </ion-col>
    </ion-row>

    <ion-row style="height: auto">
      <ion-col size="10" offset="1" style="height: 180px; cursor: pointer;" (click)="navigateToRoute('/innovation')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/scientist-1.webp" alt="" style="background-image: url(./assets/images/paint-2.jpg);">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label class="card-title" style="font-size: 16px;" color="light">{{ 'discover' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="10" offset="1" style="height: 180px; cursor: pointer;" (click)="navigateToRoute('/innovation')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/scientist-1.webp" alt="">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label class="card-title" style="font-size: 16px;" color="light">Le nostre soluzioni</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="10" offset="1" style="height: 180px; cursor: pointer;" (click)="navigateToRoute('/innovation')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/impact-1.jpg" alt="">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label class="card-title" style="font-size: 16px;" color="light">{{ 'learn' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="height: auto; margin: 100px 0;">
      <ion-col size="10" offset="1" style="padding: 10px 0; position: relative;">
        <div>
          <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
        </div>   
        <div> 
          <div style="width: 100%">
            <p style="font-size: 50px">
              Polimeri <br><span style="color: #1C8B81;">non-terrestri</span>
            </p>
          </div>
          <div style="width: 100%">
            <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
            <p style="font-size: 18px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
              Questi biopolimeri vengono estratti da diverse specie vegetali non terrestri ed opportunamente impiegati per esigenze specifiche. Utilizzati puri, in mescola fra loro od in combinazione con altre sostanze, si possono  ottenere soluzioni utili sia per sostituire materiali e sostanze convenzionali, sia per creare nuove opportunità d’impiego.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- SPECCHIETTO DATI -->
    <ion-row style="height: auto;">
      <ion-col size="10" offset="1">
          <ion-label style="font-size: 30px; font-weight: bold; font-family: NotoSans, sans-serif;">LE NOSTRE SOLUZIONI</ion-label>
      </ion-col>

      <ion-col size="10" offset="1" style="height: 250px;">
        <div style="height: 100%; border: 1px solid; overflow: hidden;">
          <img src="./assets/images/pittura-1.jpeg" alt="" style="width: 100%; height: 100%;">
        </div>
      </ion-col>
      <ion-col size="10" offset="1" style="height: 250px; font-family: RobotoBold, sans-serif;">
        <div style="height: 100%; border: 1px solid; overflow: hidden; border: 1px solid; padding: 30px;">
          <span style="color: text-first; text-transform: uppercase;">{{ 'science' | translate}}</span>
        </div>
      </ion-col>
      <ion-col size="10" offset="1" style="height: 250px; font-family: RobotoBold, sans-serif;">
        <div class="bg-dark" style="height: 100%; padding: 30px; color: #FFF; font-family: RobotoBold, sans-serif">
            <span style="text-transform: uppercase;">{{ 'natural' | translate }}</span>
            <br>
            <span style="font-size: 80px; font-family: NotoSans, sans-serif;">100</span><span style="font-size: 40px;">%</span>
          </div>
      </ion-col>
      <ion-col size="10" offset="1" style="height: 250px; font-family: RobotoBold, sans-serif;">
         <div class="bg-green" style="height: 100%; padding: 30px; color: #FFF; font-family: RobotoBold, sans-serif">
            <span style="text-transform: uppercase;">{{ 'impact' | translate }}</span>
            <br>
             <span style="font-size: 80px; font-family: NotoSans, sans-serif;">~50</span><span style="font-size: 40px;">%</span>
          </div>
      </ion-col>
    </ion-row>

    <ion-row style="height: auto; margin-bottom: 100px;">
      <!-- INTRODUZIONE -->
      <ion-col size="10" offset="1">
    <swiper-container
      slides-per-view="1.6"
      centered-slides="true"
      space-between="10"
      initial-slide="2"
      loop="true"
      style="width:100%; height: 600px; display:block;"
    >
    @for (item of productList; track item; let i = $index) {
      <swiper-slide>
      <div [id]="item.name" size="3" class="product-card-box">
        <div  #productCard class="product-card">
          <div style="width: 100%; height: 60%; overflow: hidden; text-align: center; position: relative;">
            <div style="position: absolute; top: 0; left:0; width: 100%; height: 50px; background: rgba(255, 255, 255, 0.6); backdrop-filter: blur(4px); line-height: 50px; padding-left: 30px;">
<div style="width: 100%; min-height: 70px;">
            <div style="width: 100px; height: 50px; float: left;">
              <img src="./assets/logo/main-logo.png" alt="" style="width: 100%; height: 100%;">
            </div>
            <div style="float: left;">
              <span style="font-size: 26px; text-transform: uppercase; font-weight: bold; color: #FFF; margin-left: -10px; text-shadow: 1px 2px 5px grey;">{{ item.name }}</span>
            </div>
          </div>
            </div>
            <img src="./assets/images/paint-3.jpg" alt="" style="width: 100%; height: 100%;">
          </div>
          <div style="width: 100%; height: 40%; float:left; padding-left: 30px;" class="product-card-text">
            <p style="font-size: 24px; font-weight: bold; font-family: NotoSans, sans-serif;">
              {{item.mainDescription}}
            </p>
            <ion-button fill="clear" style="margin-top: 20px;" (click)="navigateToSolution(item.id)">
              <ion-label style="font-size: 16px; color: #0d5952;">{{ 'learn_more' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" style="color: #0d5952;"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>
    }
    </swiper-container>
      </ion-col>
    </ion-row>

    <app-footer></app-footer>

  </ion-grid>
</ion-content>