<ion-content [fullscreen]="true" #content >
  <ion-grid>
    <app-navbar
      [collapse]="true"
    ></app-navbar>
     <ion-row class="background-image-reverse mobile">
      <div style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100; padding: 130px 50px;">
          <span class="slogan_text_first f-size-36 f-family-lexend-semi-bold"> <!-- 009899 -->
           {{ 'slogan_text_first' | translate }}
         </span>
           <br>
           <br>
          <span class="slogan_text_second f-size-36 f-family-lexend-semi-bold"> <!-- 009899 -->
           {{ 'slogan_text_second' | translate }}
         </span>
        </div>
    </ion-row>

    <ion-row class="h-auto margin-top-70">
      <ion-col size="12" style="height: 180px; cursor: pointer; padding: 0 10px;" (click)="navigateToRoute('/innovation')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/alghe-micro.jpg" alt="">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label slot="start" class="card-title f-size-14" color="light">{{ 'discover' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" style="height: 180px; cursor: pointer; padding: 0 10px;" (click)="navigateToRoute('/innovation')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/scientist-1.webp" alt="">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label slot="start" class="card-title f-size-14" color="light">{{ 'explore' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" style="height: 180px; cursor: pointer; padding: 0 10px;" (click)="navigateToRoute('/about-us')">
        <div style="height: 100%; position: relative; overflow: hidden;">
          <img src="./assets/images/impact-1.jpg" alt="">
          <div style="position: absolute; top: 0; left: 0; padding: 5px 10px; width: 100%;" class="bg-dark">
            <ion-button fill="clear" class="btn-custom">
              <ion-label slot="start" class="card-title f-size-14" color="light">{{ 'learn' | translate }}</ion-label>
              <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>

     <!-- Products Swiper -->
 <ion-row class="h-auto margin-top-70">
        <ion-col size="12" style="padding: 10px; position: relative;">
          <div>
            <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_solutions' | translate}}</p>
          </div>   
          <div> 
            <div style="width: 100%">
              <p class="f-size-32">
                 {{ 'sustainable_solutions' | translate}} <br>{{ 'inspirated_by_sea_nature' | translate }} <span style="color: #1C8B81;">{{ 'marine_nature' | translate}}</span>
              </p>
            </div>
            <div style="width: 100%">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <!-- <p style="font-size: 14px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
                {{ 'home_page_section_one_description' | translate }}
              </p> -->
            </div>
          </div>
      </ion-col>
    </ion-row>


     
          <!-- Carousel Slider -->
<ion-row class="h-auto">
          <ion-col size="12">
<div #mainSplide class="splide" role="group" aria-label="Autoplaying Content Carousel" style="width: 100%; height: 400px;" data-splide='{
    "perPage": 1,
    "focus": "center",
    "gap": "4rem",
    "arrows": false,
    "start": 2,
    "resetOnDrag": true,
    "pagination": false
}'>
  <div class="splide__track">
    <ul class="splide__list">
      @for (item of productList; track item.id; let i = $index) {
      <li class="splide__slide">
        <div [id]="item.name" size="3" class="product-card-box" style="background-size: cover;" [style]="{'background-image': 'url('+ setBackgroundImage(item) +')'}" (click)="navigateToSolution(item.id)">
                <div #productCard class="product-card">
                  <div class="product-card-text">
                    <span class="text-white f-size-30">{{ item.name }} </span>
                    <ion-icon color="light" name="arrow-forward-outline" class="f-size-22"></ion-icon>
                    <br>
                    <span class="text-white f-size-14">{{ item.mainDescription }}</span>
                  </div>
                </div>
              </div>      
      </li>
      }
    </ul>
  </div>
</div>
          </ion-col>
      </ion-row>


    <ion-row class="h-auto margin-top-70">
        <ion-col size="12" style="padding: 10px; position: relative;">
          <div>
            <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
          </div>   
          <div> 
            
            <div style="width: 100%">
              <p class="f-size-32">
                {{ 'we_offer_solutions' | translate}} <span style="color: #1C8B81;">{{'alternatives' | translate}}</span> {{ 'andd' | translate }} <span style="color: #1C8B81;">{{ 'eco' | translate}} </span>
              </p>
            </div>
            <div style="width: 100%">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <p style="font-size: 14px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
                {{ 'home_page_section_one_description' | translate }}
              </p>
            </div>
          </div>
      </ion-col>
    </ion-row>

    <!-- SPECCHIETTO DATI -->
    <ion-row class="h-auto margin-top-70">
      <ion-col size="12" style="padding: 10px;">
          <ion-label class="text-uppercase" style="font-size: 30px; font-weight: bold; font-family: NotoSans, sans-serif;">{{ 'our_solutions' | translate }}</ion-label>
      </ion-col>

      <ion-col size="12" style="height: 250px; padding: 10px;">
        <div style="height: 100%; border: 1px solid; overflow: hidden;">
          <img src="./assets/images/pittura-1.jpeg" alt="" style="width: 100%; height: 100%;">
        </div>
      </ion-col>
      <ion-col size="12" style="height: 250px; font-family: RobotoBold, sans-serif; padding: 10px;">
        <div style="height: 100%; border: 1px solid; overflow: hidden; border: 1px solid; padding: 30px;">
          <span style="color: text-first; text-transform: uppercase;">{{ 'science' | translate}}</span>
        </div>
      </ion-col>
      <ion-col size="12" style="height: 250px; font-family: RobotoBold, sans-serif; padding: 10px;">
        <div class="bg-dark" style="height: 100%; padding: 30px; color: #FFF; font-family: RobotoBold, sans-serif">
            <span style="text-transform: uppercase;">{{ 'natural' | translate }}</span>
            <br>
            <span style="font-size: 80px; font-family: NotoSans, sans-serif;">100</span><span style="font-size: 40px;">%</span>
          </div>
      </ion-col>
      <ion-col size="12" style="height: 250px; font-family: RobotoBold, sans-serif; padding: 10px;">
         <div class="bg-green" style="height: 100%; padding: 30px; color: #FFF; font-family: RobotoBold, sans-serif">
            <span style="text-transform: uppercase;">{{ 'impact' | translate }}</span>
            <br>
             <span style="font-size: 80px; font-family: NotoSans, sans-serif;">~50</span><span style="font-size: 40px;">%</span>
          </div>
      </ion-col>
    </ion-row>
    

    <ion-row class="h-auto margin-v-70">
      <ion-col size="12" style="padding: 10px; position: relative;">
        <div>
          <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
        </div>   
        <div> 
          <div style="width: 100%">
            <p class="f-size-32">
              {{ 'polymers' | translate }} <br><span style="color: #1C8B81;">{{ 'non_terrestrial' | translate }}</span>
            </p>
          </div>
          <div style="width: 100%">
            <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
            <p style="font-size: 14px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
              {{ 'home_page_section_two_description' | translate }}
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <app-footer></app-footer>

  </ion-grid>
</ion-content>