<ion-content [fullscreen]="true" #content >
  <ion-grid>
      <app-navbar
        [collapse]="true"
      ></app-navbar>

      <ion-row style="height: auto;">
        <ion-col size="10" offset="1" style="margin-top: 100px;">
          <span class="f-size-50">{{ solution.name }}</span>
        </ion-col>
      </ion-row>

@switch (solution.id) {
  @case (0) {
    <app-paint [solution]="solution"></app-paint>
  }
  @case (1) {

  }
  @case (2) {

  }
  @case (3) {
    <app-pack [solution]="solution"></app-pack>
  }
  @case (4) {

  }
  @case (5) {
    <app-beauty [solution]="solution"></app-beauty>
  }
  @case (6) {

  }
  @default {
    Default case.
  }
}

      <app-footer></app-footer>
  </ion-grid>  
</ion-content>
