<ion-content [fullscreen]="true" #content >
  <ion-grid>
      <app-navbar
        [collapse]="true"
      ></app-navbar>


      <ion-row style="height: auto;">
        <ion-col size="10" offset="1" style="margin-top: 100px;">
          <span class="f-size-50">{{ solution?.name }}</span>
        </ion-col>
      </ion-row>
@switch (solution?.name) {
  @case ('Pack') {
    
      <ion-row class="background-image" style="height: auto; margin-top: 70px;">
          <ion-col size="10" offset="1" style="text-align: center; font-size: 32px; font-family: RobotoBold, sans-serif; margin-top: 70px;">
            <span>{{ 'long_live_food' | translate}}</span>
          </ion-col>
      </ion-row>

      <ion-row style="height: auto; margin-top: 70px;">
        <ion-col>
          <span>{{ 'compare' | translate}}</span>
        </ion-col>
      </ion-row>
  }
  @case ('Paint') {
      <!-- <ion-row class="background-image" style="height: auto; margin-top: 70px;">
          <ion-col size="10" offset="1" style="text-align: center; font-size: 34px; font-family: RobotoBold, sans-serif; margin-top: 70px;">
            <span>{{ 'LoliPaint' | translate}}</span>
          </ion-col>
      </ion-row> -->
<ion-row  style="height: auto; margin-top: 70px;">
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-3.jpg); background-size: cover; background-repeat: no-repeat;" offset="1">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/prove-colori.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-2.jpg); background-size: cover; background-repeat: no-repeat; background-position: 0 -50px;">
        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/aqua-color-1.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/color-pouring.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
      </ion-row>

      <ion-row style="height: auto; margin-top: 70px;">
        <ion-col size="10" offset="1" style="padding: 10px 0; position: relative;">
          <!-- <div>
            <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
          </div>    -->
          <div class="padding-v-30" style="display: flex; flex-direction: row; justify-content: space-between;"> 
            
            <div style="width: 45%; float: left;">
              <p class="f-size-50">
 <span style="color: #1C8B81;">Estratti vegetali marini</span> per sostituire i leganti sintetici 
            </p>
            </div>
            <div style="width: 45%; float: left;">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <p class="f-size-16" style="font-family: RobotoCustom, sans-serif; line-height: 1.5;">
               Invece delle classiche resine acriliche, alchidiche, siliconiche, poliuretaniche e altre ancora, si può valutare di usare resine <strong class="f-size-20">100% naturali</strong>, con l’acqua come unico diluente.
                 Questo consentirebbe di avere prodotti vernicianti particolarmente adatti all’uso indoor, dove la ventilazione risulta scarsa e dove gli odori persistenti possono generare malessere o addirittura avere effetti nocivi sula salute.   
<br>
<br>
              La soluzione offerta Lolipaint consiste nell’impiego di estratti vegetali marini per sostituire i leganti sintetici comunemente presenti in pitture e vernici. 
            </p>
            </div>
          </div>
      </ion-col>
      </ion-row>

      <!-- <ion-row  style="height: auto; margin-top: 70px;">
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-3.jpg); background-size: cover; background-repeat: no-repeat;" offset="1">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/prove-colori.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-2.jpg); background-size: cover; background-repeat: no-repeat; background-position: 0 -50px;">
        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/aqua-color-1.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/color-pouring.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
      </ion-row> -->

      <ion-row style="height: auto; margin-top: 70px; background: linear-gradient(to bottom, #F0EFEA, #fff); padding-top: 30px;">
       
        <ion-col size="5" offset="1" style="padding: 0;">
          <ion-card>
            <ion-card-header class="bg-dark padding-30">
              <ion-card-title color="light" class="f-size-24 text-uppercase">
                {{ 'uses' | translate}}
              </ion-card-title>
              <ion-card-subtitle color="light" class="f-size-18">
                {{ 'uses_subtitle' | translate }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="min-height: 300px;">
              <ul>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture murarie, in particolare per uso indoor
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Vernici e rivestimenti per legno
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture e tempere, molto adatte per bambini
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Vernici per giocattoli
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture decorative da usare sulla pelle o a contatto con essa
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Spray vernicianti atossici
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="5" style="padding: 0;">
          <ion-card>
            <ion-card-header class="bg-green padding-30">
              <ion-card-title color="light" class="f-size-24 text-uppercase">
                {{ 'material' | translate}}
              </ion-card-title>
              <ion-card-subtitle color="light" class="f-size-18">
                {{ 'material_subtitle' | translate }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="min-height: 300px;">
              <ul>
                <li class="text-black f-size-16 padding-v-10">
                  Legno
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Carta e cartone
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Muratura e cartongesso
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Cotone
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Terracotta e ceramica porosa
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>

         <ion-col size="10" offset="1" style="margin: 70px 0;">
          <span class="f-size-32">{{ 'properties' | translate }}</span>
          <p class="f-size-16 f-family-roboto l-height">
            Grandi benefici si possono ottenere grazie alla giusta selezione degli ingredienti base, del giusto grado di viscosità raggiunta e dell’interazione studiata con gli altri componenti della formulazione.
Queste resine alternative sono ideali per ridurre al minimo o addirittura <strong>prevenire l’uso di VOC</strong>. Sono resine del tutto <strong>atossiche</strong>, che non richiedono alcun tipo particolare di precauzione per essere maneggiate. Perciò sono adatte all’uso in posti chiusi, poco areati o su oggetti e arredamenti che verranno collocati nelle medesime aree.
Molti dei polimeri di base usati sono <strong>edibili</strong> e <strong>dermocompatibili</strong>, quindi assolutamente adatti ad essere impiegati in prodotti che vengono a contatto con utilizzatori vulnerabili, sensibili a certe sostanze o per esigenze particolari come ad esempio l’uso a contatto con la pelle.  
Queste resine sono inoltre <strong>naturalmente ritardanti di fiamma</strong>, il che le rende eccellenti anche senza l’impiego di additivi specifici.        
          </p>
        </ion-col>
      </ion-row>
  }
  @default {
    Default case.
  }
}

      <app-footer></app-footer>
  </ion-grid>  
</ion-content>
