<ion-content [fullscreen]="true" #content >
  <ion-grid>
      <app-navbar
        [collapse]="true"
      ></app-navbar>


      <ion-row style="height: auto;">
        <ion-col size="10" offset="1" style="margin-top: 100px;">
          <span class="f-size-50">{{ solution.name }}</span>
        </ion-col>
      </ion-row>
@switch (solution.id) {
  @case (0) {
    <app-paint
      [solution]="solution"
    >
    </app-paint>
  }
  @case (1) {

  }
  @case (2) {

  }
  @case (3) {
    
      <ion-row class="background-image" style="height: auto; margin-top: 70px;">
          <ion-col size="10" offset="1" style="text-align: center; font-size: 32px; font-family: RobotoBold, sans-serif; margin-top: 70px;">
            <span>{{ 'long_live_food' | translate}}</span>
          </ion-col>
      </ion-row>

      <ion-row style="height: auto; margin-top: 70px;">
        <ion-col>
          <span>{{ 'compare' | translate}}</span>
        </ion-col>
      </ion-row>
  }
  @case (4) {

  }
  @case (5) {

  }
  @case (6) {

  }
  @default {
    Default case.
  }
}

      <app-footer></app-footer>
  </ion-grid>  
</ion-content>
