// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.main-background-image {
    width: 100vw;
    height: 800px;
    background: url(../assets/images/img-1.jpg) 0 0/100% 100% no-repeat;
    // background: url(../assets/images/bg-4.png) 0 0/100% 100% no-repeat;
}

.background-image {
    width: 100vw;
    height: 100%;
    background: url(../assets/images/bg-21.png) 0 0/100% 100% no-repeat;
    // background: url(../assets/images/bg-4.png) 0 0/100% 100% no-repeat;
}

.background-image-reverse {
    width: 100vw;
    height: 90vh;
    background: url(../assets/images/bg-00.png) 0 0/100% 100% no-repeat;
    border-bottom: 5px solid #064E5A;
}

.background-image-reverse.mobile {
    height: 70vh;
    background: url(../assets/images/bg-00.png);
    background-size: cover;
}

@media (min-width: 768px) {
    .background-image-reverse {
        height: 80vh;
    }
}

ion-item {
    // background: transparent !important;
}

.text-box-op {}

.text-box {}

.glossy-box {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2rem;
    color: white;
}

.logo .brand {
    font-family: 'Arvo', serif;
    position: relative;
    padding-bottom: 0.2em;
}

.logo .brand::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.25em;
    background: white;
    border-radius: 4px;
}

.logo .tagline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 0.3em;
    color: #3D998E
}

.product-card.open {
    animation: openAnimation 0.5s ease forwards;
}

.product-card.close {
    animation: closeAnimation 0.3s ease forwards;
}

@keyframes openAnimation {
    0% {
        height: 30%;
    }

    100% {
        height: 98%;
    }
}

@keyframes closeAnimation {
    0% {
        height: 98%;
    }

    100% {
        height: 30%;
    }
}

ion-content,
ion-grid,
ion-row,
ion-col.menu-col {
    height: 100%;
}

.list-grid {
    display: grid;
    height: 100%;
    grid-auto-rows: 1fr;
    padding: none;
}

.list-btn {
    height: 100%;
    --min-height: 0;
    --padding-start: 40px;
    --inner-padding-end: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --inner-border-width: 0 !important;
    --border-radius: 6px !important;
    --border-width: 0 !important;
    margin: 0;
    --button-height: 100% !important;

    --background: transparent !important;
    --border: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: left;

    ion-label {
        color: #3D998E;
        font-size: 30px;
    }
}

.list-btn:hover {
    background-color: #3D998E !important;

}

.list-btn:hover>ion-label {
    color: #FFF !important;

}

.video-box {
    width: 100%;
    height: 100%;

}

.top-navbar-line {
    height: 20px;
    padding: none !important;
    margin: none !important;
}

.navbar-container {
    width: 100vw;
    height: auto;
    // background-color: transparent;
    // background: rgba(26, 136, 126, 0.6);
    background: linear-gradient(to bottom, #36887D, transparent); // rgba(26, 136, 126, 0.6)
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.navbar-logo {
    width: 200px;
    height: 100px;
    float: left;
}

.navbar-routes-container {
    height: 100px;
    float: left;
}

.navbar-route-button {
    height: 100%;
    text-transform: uppercase;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    cursor: pointer;
}

.navbar-route-button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

.navbar-right-content-wrapper {
    height: 100px;
    float: right;
    display: block;
}

.navbar-right-content {
    height: 100%;
    text-transform: uppercase;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.navbar-right-content-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    padding: 0px 10px;
    cursor: pointer;
}

.navbar-hamburger-menu-wrapper {
    height: 100px;
    float: right;
    display: none;
}

.navbar-hamburger-menu-content {
    height: 100%;
    text-transform: uppercase;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.navbar-hamburger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    padding: 0px 10px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .navbar-hamburger-menu-wrapper {
        display: block;
    }

    .navbar-routes-container {
        display: none;
    }

    .navbar-right-content-wrapper {
        display: none;
    }
}

.navbar-container.collapsed {
    background: rgba(26, 136, 126, 0.6); // #006D70 #689B97
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2px);
}

.navbar-logo.collapsed {
    width: 100px;
    height: 50px;
}

.navbar-routes-container.collapsed {
    height: 50px;
}

.navbar-right-content-wrapper.collapsed {
    height: 50px;
}

.navbar-hamburger-menu-wrapper.collapsed {
    height: 50px;
}

.stats-container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats-large-box {
    width: 47%;
    height: 100%;
    background-color: #FFF;
}

.stats-small-box {
    width: 24%;
    height: 100%;
    padding: 30px;
    color: #FFF;
    font-family: RobotoBold, sans-serif;
}

.stats-large-box:hover {
    animation: zoomAnimation 0.1s ease forwards;
}

.stats-small-box:hover {
    animation: zoomAnimation 0.1s ease forwards;
}

.card-container {
    width: calc(100% / 3.2);
    height: 400px;
    cursor: pointer;
}

.card-container:hover {
    animation: zoomAnimation 0.1s ease forwards;
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.card-section {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card-title {
    color: #0d5952;
    font-family: NotoSansBold, sans-serif;
}

.card-description {
    font-size: 16px;
    font-family: RobotoCustom, sans-serif;
}

.first-card-img {
    background: url(../assets/images/paint-2.jpg) 0 0/100% 100% no-repeat;
}

.btn-custom {
    --padding-start: none !important;
}

ion-menu {
    --min-width: 90%;
}