 <div style="position: fixed; top: 0; z-index: 999;">
<ion-row class="top-navbar-line">
  <ion-col size="12" style="height: 100%; background-color: #006D70">
  </ion-col>
</ion-row>
<div class="navbar-container" [class]="{'collapsed': collapse == true}">
  <ion-row>
    <ion-col size="10" offset="1" size-sm="10" offset-sm="1" size-xs="12" offset-xs="0">
      <div class="navbar-logo" [class]="{'collapsed': collapse == true}" (click)="navigateToRoute(routeList[0])">
        <img src="./assets/logo/main-logo.png" alt="">
      </div>
      <div class="navbar-routes-container" [class]="{'collapsed': collapse == true}">
        @for (route of routeList; track route; let i =$index) {
        <div class="navbar-route-button navbar-link" (click)="navigateToRoute(route)">
          <div class="navbar-route-button-text">
            {{ route.i18n | translate}}
          </div>
        </div>
        }
      </div>
      <div class="navbar-right-content-wrapper" [class]="{'collapsed': collapse == true}">
        <div class="navbar-right-content">
          <div class="navbar-right-content-button">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <div class="navbar-right-content-button">
            <ion-icon name="logo-instagram"></ion-icon>
          </div>
          <div class="navbar-right-content-button">
            <ion-icon name="mail"></ion-icon>
          </div>
          <div class="navbar-right-content-button">
            <ion-select [value]="getCurrentLang()" (ionChange)="setLang($event)" color="light" toggleIcon="chevron-down-outline">
              @for(lang of languagesAvailable; track languagesAvailable; let i = $index) {
              <ion-select-option [value]="lang.code">{{ lang.description }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>
      </div>
      <!-- Hamburger Menu -->
      <div class="navbar-hamburger-menu-wrapper" [class]="{'collapsed': collapse == true}">
      <div class="navbar-hamburger-menu-content">
        <div class="navbar-hamburger-button">
          <!-- <ion-button fill="clear" color="light" (click)="setMenuToggle()">
            <ion-icon size="large" name="menu-outline"></ion-icon>
            <ion-label style="font-size: 16px;">Menu</ion-label>
          </ion-button> -->
          <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </div>
        </div>
      </div>
  </ion-col>
  </ion-row>
</div>
 </div>