.solution-card-container {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}

.solution-card-section {
    width: 50%;
    overflow: hidden;
}

.solution-card-section.description {
    border-left: 6px solid #FFF;
    position: relative;
    background-color: #F0EFEA;

    div {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        padding: 0 30px;
    }
}