:host {
    .solution-card-container {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: row;
        margin: 100px 0;
    }

    .solution-card-section {
        width: 50%;
        overflow: hidden;
    }

    .solution-card-section.description {
        border-left: 6px solid #FFF;
        position: relative;
        background-color: #F0EFEA;

        div {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            padding: 0 30px;
        }
    }

    .mosaic-card {
        border: 2px solid #FFF;
        overflow: hidden;
        cursor: pointer;

        img {
            animation: zoomOutCardBackground 0.3s ease forwards; // default state
        }
    }

    .mosaic-card:hover {
        img {
            animation: zoomCardBackground 0.3s ease forwards;
        }
    }

    @keyframes zoomCardBackground {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.2);
        }
    }

    @keyframes zoomOutCardBackground {
        from {
            transform: scale(1.2);
        }

        to {
            transform: scale(1);
        }
    }
}