
    <ion-row class="h-auto margin-top-70">
      <ion-col size="12" style="padding: 10px; position: relative;">
        <div>
          <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
        </div>   
        <div> 
          <div style="width: 100%">
            <p class="f-size-32">
              <span style="color: #1C8B81;">{{ 'pack_section_one_title_one' | translate }}</span> {{ 'pack_section_one_title_two' | translate }} 
            </p>
          </div>
          <div style="width: 100%">
            <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
            <p style="font-size: 14px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5;">
              {{ 'pack_section_one_description_one' | translate }}
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

      
    <ion-row class="h-auto margin-top-70">
          <ion-col size="12">
<div #mainSplide class="splide" role="group" aria-label="Autoplaying Content Carousel" style="width: 100%;" data-splide='{
    "perPage": 1,
    "focus": "center",
    "gap": "4rem",
    "arrows": false,
    "start": 2,
    "resetOnDrag": true,
    "pagination": false
}'>
  <div class="splide__track">
    <ul class="splide__list" style="height: 200px;">
      <li class="splide__slide">
        <div style="height: 200px; margin: 0 1px; background-image: url(./assets/images/hamburger.png); background-size: cover; background-repeat: no-repeat;" offset="1"></div>
      </li>
      <li class="splide__slide">
        <div style="height: 200px; margin: 0 1px; background-image: url(./assets/images/film-1.jpg); background-size: cover; background-repeat: no-repeat;" offset="1"></div>
      </li>
      <li class="splide__slide">
        <div style="height: 200px; margin: 0 1px; background-image: url(./assets/images/avocado.png); background-size: cover; background-repeat: no-repeat;" offset="1"></div>
      </li>
      <li class="splide__slide">
        <div style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-3.jpg); background-size: cover; background-repeat: no-repeat;" offset="1"></div>
      </li>
    </ul>
  </div>
</div>
          </ion-col>
      </ion-row>

      <!-- PROVA 1 -->
      <ion-row class="h-auto margin-top-70" style="background: linear-gradient(to bottom, #F0EFEA, #fff); padding-top: 30px;">
       
        <!-- <ion-col size="10" offset="1">
          <ion-row> -->
            <ion-col size="6" class="bg-green" style="height: 200px; border: 1px solid #1C8B81; display: flex; flex-direction: row; justify-content: center; align-self: center; align-items: center;">
            <div>
              <ion-icon slot="start" size="large" name="add-outline" color="light" style="transform: scale(3);"></ion-icon>
            </div>
            </ion-col>
            <ion-col size="6" class="padding-l-20" style="height: 200px; background-color: #e1f4f2; border: 1px solid; border-left: none; display: flex; flex-direction: column; justify-content: space-around;">
              <span class="text-black f-size-18 text-uppercase margin-v-10">{{ 'shelf_life' | translate }}</span>
              <br>
              <span class="text-black f-size-18 text-uppercase margin-v-10">{{ 'healthiness' | translate }}</span>
            </ion-col>
            <ion-col size="6" class="bg-dark" style="height: 200px; border: 1px solid #004958; display: flex; flex-direction: row; justify-content: center; align-self: center; align-items: center;">
              <div>
                <ion-icon slot="start" size="large" name="remove-outline" color="light" style="transform: scale(3);"></ion-icon>               
              </div>
            </ion-col>  
            <ion-col size="6" class="padding-l-20" style="height: 200px; background-color: #e1f4f2; border: 1px solid; border-left: none; border-top: none; display: flex; flex-direction: column; justify-content: space-around;">
              <span class="text-black f-size-18 text-uppercase margin-v-10">{{ 'aging_and_wastes' | translate }}</span>
              <span class="text-black f-size-18 text-uppercase margin-v-10">{{ 'oxidation_and_contaminations' | translate }}</span>
            </ion-col>
          <!-- </ion-row>
        </ion-col> -->

      </ion-row>


    <ion-row class="h-auto margin-top-70">
      <ion-col size="12" style="padding: 10px; position: relative;">
        <div>
          <p style="font-size: 12px; font-family: RobotoBold, sans-serif; text-transform: uppercase;">{{ 'our_approach' | translate}}</p>
        </div>   
        <div> 
          <div style="width: 100%">
            <p class="f-size-32">
                <span>{{ 'vegan_and_natural' | translate }}</span>
                <br>
                <span style="color: #1C8B81;">{{ 'plastic_free' | translate }}</span>
                <br>
                <span>{{ 'biodegradable' | translate }}</span>
                <br>
                <span style="color: #1C8B81;">{{ 'edible' | translate }}</span>
              </p>
          </div>
          <div style="width: 100%">
            <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
            <p style="font-size: 50px; margin-top: 70px; font-family: RobotoCustom, sans-serif; line-height: 1.5; color: #1C8B81; text-align: right;">
              {{ '100%' | translate }}
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>