@if (!isMobile) {
<ion-row  style="height: auto; margin-top: 70px;">
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-1.jpeg); background-size: cover; background-repeat: no-repeat;" offset="1">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-4.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-2.jpg); background-size: cover; background-repeat: no-repeat;">
        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-3.jpg); background-size: cover; background-repeat: no-repeat; background-position: 0 -100px;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-2.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
      </ion-row>

      <ion-row style="height: auto; margin-top: 70px;">
        <ion-col size="10" offset="1" style="padding: 10px 0; position: relative;">
          <div class="padding-v-30" style="display: flex; flex-direction: row; justify-content: space-between;"> 
            
            <div style="width: 45%; float: left;">
              <p class="f-size-50">
                <span style="color: #1C8B81;">{{ 'beauty_section_one_title_one' | translate }}</span> {{ 'beauty_section_one_title_two' | translate }}
              </p>
            </div>
            <div style="width: 45%; float: left;">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <p class="f-size-16" style="font-family: RobotoCustom, sans-serif; line-height: 1.5;">
                {{ 'beauty_section_one_description' | translate }}
            </p>
            </div>
          </div>
      </ion-col>
      </ion-row>

      <ion-row class="h-auto margin-v-70" style="background: linear-gradient(to bottom, #F0EFEA, #fff); padding-top: 30px;">
        <ion-col size="5" offset="1"  class="margin-v-70">
          <span class="f-size-32">{{ 'beauty_section_two_title' | translate }}</span>
          <p class="f-size-16 f-family-roboto l-height">
            {{ 'beauty_section_two_descrption' | translate }}
          </p>
        </ion-col>

        <ion-col size="4" offset="1" style="padding: 0;">
          <ion-card>
            <ion-card-header class="bg-green padding-30">
              <ion-card-title color="light" class="f-size-24 text-uppercase">
                {{ 'uses' | translate}}
              </ion-card-title>
              <ion-card-subtitle color="light" class="f-size-18">
                {{ 'beauty_uses_subtitle' | translate }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="min-height: 300px;">
              <ul>
                <li class="text-black f-size-16 padding-v-10">
                  {{ 'beauty_box_label_one' | translate }}
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  {{ 'beauty_box_label_two' | translate }}
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  {{ 'beauty_box_label_three' | translate }}
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  {{ 'beauty_box_label_four' | translate }}
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>

     
      </ion-row>

} 

@if (isMobile) {
  <app-beauty-mobile></app-beauty-mobile>
}