<ion-row  style="height: auto; margin-top: 70px;">
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-1.jpeg); background-size: cover; background-repeat: no-repeat;" offset="1">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-4.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/pink-color-2.jpg); background-size: cover; background-repeat: no-repeat;">
        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-3.jpg); background-size: cover; background-repeat: no-repeat; background-position: 0 -100px;">

        </ion-col>
        <ion-col size="2" style="height: 200px; margin: 0 1px; background-image: url(./assets/images/cosmetic-2.jpg); background-size: cover; background-repeat: no-repeat;">

        </ion-col>
      </ion-row>

      <ion-row style="height: auto; margin-top: 70px;">
        <ion-col size="10" offset="1" style="padding: 10px 0; position: relative;">
          <div class="padding-v-30" style="display: flex; flex-direction: row; justify-content: space-between;"> 
            
            <div style="width: 45%; float: left;">
              <p class="f-size-50">
                <span style="color: #1C8B81;">Prodotti cosmetici</span> naturalmente efficaci
              </p>
            </div>
            <div style="width: 45%; float: left;">
              <div style="width: 150px; height: 100%; position: absolute; top: 0; right: 0; background-color: #D5F5F1; z-index: -1;"></div>
              <p class="f-size-16" style="font-family: RobotoCustom, sans-serif; line-height: 1.5;">
                Brand innovativi come Algaemie sono estremamente rari nel panorama del settore cosmetico. L’idea di base dell’Azienda è quella di sostituire, con alcuni estratti di alghe marine, sostanze sintetiche come acrilati e siliconi che spesso sono usati come agenti disperdenti e texturizzanti in moltissime formulazioni cosmetiche classiche. 
                L’idea di creare un prodotto altamente performante sotto il punto di vista dell’efficacia, dato essenzialmente dalle proprietà scientificamente provate delle alghe per certe applicazioni, ma che al contempo risulti capace di raggiungere la stessa sensazione sulla pelle di prodotti convenzionali, è tutt’altro che cosa semplice da realizzare nella pratica.
                La stessa innovazione può essere valutata per creare nuove formule e nuovi prodotti cosmetici o per make-up. Lolibeauty può offrire le soluzioni adatte ed il know-how adeguato all’innovativa idea di prodotto che hai in mente.
            </p>
            </div>
          </div>
      </ion-col>
      </ion-row>

      <!-- <ion-row style="height: auto; margin-top: 70px; background: linear-gradient(to bottom, #F0EFEA, #fff); padding-top: 30px;">
       
        <ion-col size="5" offset="1" style="padding: 0;">
          <ion-card>
            <ion-card-header class="bg-dark padding-30">
              <ion-card-title color="light" class="f-size-24 text-uppercase">
                {{ 'uses' | translate}}
              </ion-card-title>
              <ion-card-subtitle color="light" class="f-size-18">
                {{ 'uses_subtitle' | translate }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="min-height: 300px;">
              <ul>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture murarie, in particolare per uso indoor
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Vernici e rivestimenti per legno
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture e tempere, molto adatte per bambini
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Vernici per giocattoli
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Pitture decorative da usare sulla pelle o a contatto con essa
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Spray vernicianti atossici
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="5" style="padding: 0;">
          <ion-card>
            <ion-card-header class="bg-green padding-30">
              <ion-card-title color="light" class="f-size-24 text-uppercase">
                {{ 'material' | translate}}
              </ion-card-title>
              <ion-card-subtitle color="light" class="f-size-18">
                {{ 'material_subtitle' | translate }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="min-height: 300px;">
              <ul>
                <li class="text-black f-size-16 padding-v-10">
                  Legno
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Carta e cartone
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Muratura e cartongesso
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Cotone
                </li>
                <li class="text-black f-size-16 padding-v-10">
                  Terracotta e ceramica porosa
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col> 

         <ion-col size="10" offset="1" style="margin: 70px 0;">
          <span class="f-size-32">{{ 'properties' | translate }}</span>
          <p class="f-size-16 f-family-roboto l-height">
            Grandi benefici si possono ottenere grazie alla giusta selezione degli ingredienti base, del giusto grado di viscosità raggiunta e dell’interazione studiata con gli altri componenti della formulazione.
Queste resine alternative sono ideali per ridurre al minimo o addirittura <strong>prevenire l’uso di VOC</strong>. Sono resine del tutto <strong>atossiche</strong>, che non richiedono alcun tipo particolare di precauzione per essere maneggiate. Perciò sono adatte all’uso in posti chiusi, poco areati o su oggetti e arredamenti che verranno collocati nelle medesime aree.
Molti dei polimeri di base usati sono <strong>edibili</strong> e <strong>dermocompatibili</strong>, quindi assolutamente adatti ad essere impiegati in prodotti che vengono a contatto con utilizzatori vulnerabili, sensibili a certe sostanze o per esigenze particolari come ad esempio l’uso a contatto con la pelle.  
Queste resine sono inoltre <strong>naturalmente ritardanti di fiamma</strong>, il che le rende eccellenti anche senza l’impiego di additivi specifici.        
          </p>
        </ion-col>
      </ion-row> -->