/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
    font-family: 'RobotoCustom';
    /* Choose a name for your font */
    src: url('/assets/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    /* Choose a name for your font */
    src: url('/assets/fonts/Roboto/static/Roboto_SemiCondensed-Bold.ttf') format('truetype');
    /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/assets/fonts/Noto_Serif/static/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('/assets/fonts/Noto_Sans/static/NotoSans_Condensed-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('/assets/fonts/Noto_Sans/static/NotoSans_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HindVadodara';
    src: url('/assets/fonts/Hind_Vadodara/HindVadodara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --ion-font-family: 'NotoSans', sans-serif;
}

html,
body,
ion-app {
    font-family: var(--ion-font-family) !important;
}

// Colors Palette
// Ocra : #CE8404;
// Mango : 

// Shades Of Main Palette Colors
// Dark : #004958
// Mid-dark : #23545B;
// Grey : #4B6A72;
// First : #006D70
// Second : #009899
// Third : #39A7C2
// Fourth : #B3FFFF
// Fifth : #CDFFFE
// Light : #F1FFFF

.bg-dark {
    background-color: #004958;
}

.bg-green {
    background-color: #1C8C82;
}

.text-mid-dark {
    color: #23545B;
}

.text-grey {
    color: #4B6A72;
}

.text-first {
    color: #006D70;
}

.text-main-green {
    color: #1C8C82;
}

.text-second {
    color: #009899;
}

.text-third {
    color: #39A7C2;
}

.text-fourth {
    color: #B3FFFF;
}

.text-fifth {
    color: #CDFFFE;
}

.text-light {
    color: #F1FFFF;
}