/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
    font-family: 'RobotoCustom';
    /* Choose a name for your font */
    src: url('/assets/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    /* Choose a name for your font */
    src: url('/assets/fonts/Roboto/static/Roboto_SemiCondensed-Bold.ttf') format('truetype');
    /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/assets/fonts/Noto_Serif/static/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('/assets/fonts/Noto_Sans/static/NotoSans_Condensed-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('/assets/fonts/Noto_Sans/static/NotoSans_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HindVadodara';
    src: url('/assets/fonts/Hind_Vadodara/HindVadodara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendMedium';
    src: url('/assets/fonts/Lexend/Lexend-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendSemiBold';
    src: url('/assets/fonts/Lexend/static/Lexend-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendExtraBold';
    src: url('/assets/fonts/Lexend/static/Lexend-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// New Fonts
@font-face {
    font-family: 'CaveatRegular';
    src: url('/assets/fonts/Caveat/static/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaveatBold';
    src: url('/assets/fonts/Caveat/static/Caveat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSansRegular';
    src: url('/assets/fonts/WorkSans/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSansBold';
    src: url('/assets/fonts/WorkSans/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --ion-font-family: 'NotoSans', sans-serif;
    --swiper-navigation-color: #FFF !important;
}

html,
body,
ion-app {
    font-family: var(--ion-font-family) !important;
}

// Colors Palette
// Ocra : #CE8404;
// Mango : 

// Shades Of Main Palette Colors
// Dark : #004958
// Mid-dark : #23545B;
// Grey : #4B6A72;
// First : #006D70
// Second : #009899
// Third : #39A7C2
// Fourth : #B3FFFF
// Fifth : #CDFFFE
// Light : #F1FFFF

.bg-dark {
    background-color: #004958;
}

.bg-green {
    background-color: #1C8C82;
}

.text-black {
    color: #000;
}

.text-white {
    color: #FFF;
}

.text-mid-dark {
    color: #23545B;
}

.text-grey {
    color: #4B6A72;
}

.text-first {
    color: #006D70;
}

.text-main-green {
    color: #1C8C82;
}

.text-second {
    color: #009899;
}

.text-third {
    color: #39A7C2;
}

.text-fourth {
    color: #B3FFFF;
}

.text-fifth {
    color: #CDFFFE;
}

.text-light {
    color: #F1FFFF;
}

.f-family-roboto {
    font-family: RobotoCustom, sans-serif;
}

.f-family-roboto-bold {
    font-family: RobotoBold, sans-serif;
}

.f-family-lexend-medium {
    font-family: LexendMedium, sans-serif;
}

.f-family-lexend-semi-bold {
    font-family: LexendSemiBold, sans-serif;
}

.f-family-lexend-extra-bold {
    font-family: LexendExtraBold, sans-serif;
}

.f-family-caveat-regular {
    font-family: CaveatRegular, sans-serif;
}

.f-family-caveat-bold {
    font-family: CaveatBold, sans-serif;
}

.f-family-work-sans-regular {
    font-family: WorkSansRegular, sans-serif;
}

.f-size-12 {
    font-size: 12px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-18 {
    font-size: 18px;
}

.f-size-20 {
    font-size: 20px;
}

.f-size-22 {
    font-size: 22px;
}

.f-size-24 {
    font-size: 24px;
}

.f-size-26 {
    font-size: 26px;
}

.f-size-28 {
    font-size: 28px;
}

.f-size-30 {
    font-size: 30px;
}

.f-size-32 {
    font-size: 32px;
}

.f-size-34 {
    font-size: 34px;
}

.f-size-36 {
    font-size: 36px;
}

.f-size-38 {
    font-size: 38px;
}

.f-size-40 {
    font-size: 40px;
}

.f-size-42 {
    font-size: 42px;
}

.f-size-44 {
    font-size: 44px;
}

.f-size-46 {
    font-size: 46px;
}

.f-size-48 {
    font-size: 48px;
}

.f-size-50 {
    font-size: 50px;
}

.f-size-60 {
    font-size: 60px;
}

.f-size-62 {
    font-size: 62px;
}

.f-size-64 {
    font-size: 64px;
}

.f-size-66 {
    font-size: 66px;
}

.f-size-68 {
    font-size: 68px;
}

.f-size-70 {
    font-size: 70px;
}

.text-uppercase {
    text-transform: uppercase;
}

.padding-v-10 {
    padding: 10px 0;
}

.padding-v-20 {
    padding: 20px 0;
}

.padding-v-30 {
    padding: 30px 0;
}

.padding-v-40 {
    padding: 40px 0;
}

.padding-l-10 {
    padding: 0 10px;
}

.padding-l-20 {
    padding: 0 20px;
}

.padding-l-30 {
    padding: 0 30px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.margin-v-10 {
    margin: 10px 0;
}

.margin-v-20 {
    margin: 20px 0;
}

.margin-v-30 {
    margin: 30px 0;
}

.margin-v-40 {
    margin: 40px 0;
}

.margin-v-50 {
    margin: 50px 0;
}

.margin-v-60 {
    margin: 60px 0;
}

.margin-v-70 {
    margin: 70px 0;
}

.h-auto {
    height: auto;
}

.l-height {
    line-height: 1.5;
}

.border-2-w {
    border: 2px solid #FFF;
}

.border-5-w {
    border: 5px solid #FFF;
}

.p-relative {
    position: relative;
}

.margin-top-70 {
    margin-top: 70px;
}