:host {
    .footer-row {
        height: 400px;
        background-color: #064E5A; // #006D70
        color: #FFF;
        font-family: RobotoCustom, sans-serif;
    }

    .footer-logo {
        width: 100px;
        height: 50px;
    }

    ion-list {
        background: transparent !important;
    }

    @media only screen and (max-width: 1200px) {
        .footer-row {
            height: 500px;
        }
    }
}