:host {
    .footer-row {
        height: 400px;
    }

    .footer-logo {
        width: 100px;
        height: 50px;
    }

    ion-list {
        background: transparent !important;
    }

    @media only screen and (max-width: 1200px) {
        .footer-row {
            height: 500px;
        }
    }
}